@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://www.churchofjesuschrist.org/study/manual/about-the-scriptures/ways-to-study?lang=eng">Personal Scripture Study</a>.</p>
        <p>Learn about <a href="https://www.churchofjesuschrist.org/study/manual/family-home-evening-resource-book/lesson-ideas/journals?lang=eng">Importance of Journals</a>.</p>
    </div>
