@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to</h1>
        <h2 class="display-4"><i>My Scripture Journal</i></h2>
        <p><i>“Behold, there shall be a record kept among you”</i> (D&C 21:1)</p>
    </div>

